
<div class="card">
<h1 class="heading about-heading">
    About this Project and the Creators
</h1>
    <div class="scroll about">
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugit neque, nesciunt consectetur numquam, nemo debitis dolore natus molestias, in eum inventore? Animi officia in eligendi quam? Culpa, eius ea?
        </p>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugit neque, nesciunt consectetur numquam, nemo debitis dolore natus molestias, in eum inventore? Animi officia in eligendi quam? Culpa, eius ea?
        </p>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugit neque, nesciunt consectetur numquam, nemo debitis dolore natus molestias, in eum inventore? Animi officia in eligendi quam? Culpa, eius ea?
        </p>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugit neque, nesciunt consectetur numquam, nemo debitis dolore natus molestias, in eum inventore? Animi officia in eligendi quam? Culpa, eius ea?
        </p>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugit neque, nesciunt consectetur numquam, nemo debitis dolore natus molestias, in eum inventore? Animi officia in eligendi quam? Culpa, eius ea?
        </p>
    </div>
</div>