
<div class="card">
<h1 class="heading about-heading">
    About this Project and the Creators
</h1>
    <div class="scroll about">
        <p>
        Hello everyone!
        </p>
        <p>
        This is Lea Schumacher and Marianna Venardou, two friends that welcome you to our first, joined, non-profit Christmas project!
        </p>
        <p>
        Our goal is simply to cheer people up during these dark times and especially during holidays when things might seem even darker and lonelier.
        </p>
        <p>
        Lea Schumacher came up with the original idea and coded the website, while Marianna Venardou wrote the story drawing inspiration from Tchaikovsky’s music.
        </p>
        <p>
        Please enjoy!
        </p>
        <p>
        We wish you all a Merry Christmas and a Happy New Year!
        </p>
    </div>
    <ul>
        <li>
            <h4>
            Lea Schumacher
            </h4>
            <h5>
            FULL STACK WEB DEVELOPER
            </h5>
            <a href="mailto:craftedcodesberlin@gmail.com" class="contact" target="_blank"> Contact</a>
        </li>
        <li class="marianna-venardou">
            <h4>
            Marianna Venardou
            </h4>
            <h5>
            WRITER AND TRANSLATOR
            </h5>
            <a href="mailto:mariannavenardou@yahoo.com" class="contact" target="_blank"> Contact</a>
        </li>
    </ul>
</div>