.about-heading {
    font-size: 2.5rem;

    @media screen and (max-width:380px) {
        margin-bottom: 2%;
        font-size: 1.5rem;
    }

    @media screen and (min-width:750px) {
    margin-bottom: -70%;
    }
}

.about {
    height: 60%;
    margin-top: 70%;
    
    @media screen and (max-width:380px) {
        margin-top: 3%;
        height: 70%;
        font-size: small;
    }
    p {
        font-size: 1.2rem;
    }

    span {
        font-size: 1.2rem;
        font-style: italic;
    }
}

ul {
    position: absolute;
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 70%;

    @media screen and (max-width:380px) {
        bottom: 0;
    }

    li {
        list-style: none;
        color: #f4f4f4;
        margin-left: -8%;

        @media screen and (max-width:380px) {
            margin-left: -23%;
        }

        @media screen and (min-width:1000px) {
            margin: 0 auto;
        }

        h4 {
            font-weight: 200;

            @media screen and (max-width:380px) {
                font-size: 0.9rem;
            }
        }

        h5 {
            font-size: 0.5rem;
            font-style: italic;
            margin-top: -15%;
        }

        .contact {
            font-size: 1.1rem;
            color: white;
            text-decoration: none;
            text-align: left;
            border: none;

            @media screen and (max-width:380px) {
                margin-top: -10%;
                font-size: 0.9rem;
            }

            @media screen and (max-width:800px) {
                font-size: 0.9rem;
            }
        }

        .contact:hover {
            font-family: 'Monsieur La Doulaise',
            cursive;
            font-size: 1.7rem;
            background: linear-gradient(345deg, #bf953f 15%, #fcf6ba 35%, #b38728 50%, #fbf5b7 65%, #aa771c 85%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            transition-duration: 0.5s;
        }
    }
    
    .marianna-venardou {
        margin-left: auto;
        @media screen and (max-width:380px) {
            margin-left: 6%;
        }
    }
}