.card {
    z-index: 3;
    height: 70%;
    width: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    background: #ffffff05;
    padding: 3em;
    height: 320px;
    border-radius: 20px;
    border: 1px solid #ffffff4d;
    backdrop-filter: blur(10px);
    text-align: center;

    @media screen and (max-width:380px) {
        height: 72%;
        width: 60%;
    }

    @media screen and (max-width:800px) {
        height: 75%;
        width: 70%;
    }
}