.card {
    z-index: 3;
    height: 53%;
    width: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 50%;
    background: #ffffff05;
    padding: 3em;
    border-radius: 20px;
    border: 1px solid #ffffff4d;
    backdrop-filter: blur(10px);
    text-align: center;

    @media screen and (max-width:380px) {
        top: 45%;
        height: 45%;
        width: 50%;
    }

    @media screen and (min-width:800px) {
        height: 50%;
        width: 70%;
    }
}