.about {
        font-size: 1.5rem;
        margin-top: 25%;
        padding: 5px 15px 5px 15px;

        @media screen and (max-width:380px) {
            margin-top: 97%;
        }

        @media screen and (min-width:750px) {
            margin-top: 72%;
        }
    }

.about:hover {
        font-size: 2rem;
    }
