.footer-container {
    height: 11%;
    width: 100%;
    position: absolute;
    bottom: 0;

    @media screen and (max-width:380px) {
        height: 8%;
    }

    @media screen and (max-width:800px) {
        height: 9%;
    }
}

.footer {
    font-size: 1rem;
    color: white;
    display: inline-block;
    
    @media screen and (min-width:800px) {
        font-size: 1rem;
    }
}

.craftedcodes {
    border: none;
    color: white;
    text-decoration: none !important;
    font-size: 1rem;

    @media screen and (min-width:800px) {
        font-size: 1rem;
    }
}

.craftedcodes:hover {
    font-family: 'Monsieur La Doulaise',
    cursive;
    font-size: 2rem;
    transition-duration: 0.5s;
    background: linear-gradient(345deg, #bf953f 15%, #fcf6ba 35%, #b38728 50%, #fbf5b7 65%, #aa771c 85%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}